.game-container{
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 0.5rem;
  padding: 0.1rem;
}
.game-image{
  height: 100%;
  width: 100%;
  object-fit: fill;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
.image-area{
  width: 300px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;

}
.info-area{
  gap: 0.5rem;
  font-size: 0.8rem;
}
.label{
  min-width: 33%;
  font-weight: 600;
  text-align: right;
}
