<div class="splash" *ngIf="onSplash">
  <div class="logo row mx-0">

    <div class="loading">
      <em>Yükleniyor..</em>
    </div>
  </div>
</div>

<main class="content" *ngIf="!onSplash">

  <app-header></app-header>
  <div class="body-content">
    <ng-container *ngIf="this.toast != undefined">
      <div class="toast show align-items-center text-white bg-primary border-0" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="false">
        <div class="d-flex">
          <div class="toast-body">
            {{this.toast.msg}}
          </div>
          <button (click)="this.toast = undefined;" type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
      </div>
    </ng-container>

    <router-outlet></router-outlet>
  </div>
</main>
